$primary: #36BF99;

// Import all of Bootstrap's CSS
@import '~bootstrap/scss/bootstrap';

$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

@import 'components';








